
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body { 
background: #eee;
font-family: 'Lato', sans-serif;
font-weight: 400;
color: #222;
font-size: 14px;
line-height: 26px;

}

.container {
max-width: 700px;   
background: #fff;
margin: 0px auto 0px; 
box-shadow: 1px 1px 2px #DAD7D7;
border-radius: 3px;  
padding: 40px;
margin-top: 50px;
}

.header {
margin-bottom: 30px;  
}

.scroll{
    max-width: 250px;
    overflow-y: scroll;
}

.footer{
    color: white;
    padding: 15px;
    margin-top: 15px;
    background-color: #212529;
}