<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/templatemo-main.css">
    <link rel="stylesheet" href="css/owl-carousel.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-main.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/hero-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/view.css' %}"> 

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/npm.js.js' %}"></script>


    <title>View CV</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between fixed-top">
      <a href="/"><img src="{% static 'img/logo.png' %}" alt="My logo" height="50px" style="border-radius:50%"></a>
      <a href="/logout/">Logout</a>
    </nav>
    <main class="container">
    <h1>{{request.session.f_name}} CV</h1>
    <table class="table table-hover table-light table-striped">
      <thead>
        <tr>
          <th scope="col"><h1>Name:</h1></th>
          <th><h1>{{request.session.f_name}} {{request.session.l_name}}</h1></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">Email:</th>
            <td>{{request.session.email}}</td>
            <th>Mobile:</th>
            <td>{{user.phone}}</td>
        </tr>
        <tr>
          <th scope="row">Nationality:</th>
          <td>{{cv.cv.nationality}}</td>
          <th>Speciality:</th>
          <td>{{cv.cv.specialist}}</td>
        </tr>
        <tr>
          <tr>
            <th scope="row">Birthday:</th>
            <td>{{cv.birthday}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Gender:</th>
            <td>{{cv.gender}}</td>
            <td></td>
            <td></td>
          </tr>
          <th scope="row">Driving License: </th>
          <td>{{cv.cv.driving}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Martial Status: </th>
          <td>{{cv.married}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"><h2>Educations:</h2> </th>
        </tr>
        {%for education in edu.all %}
        <tr>
          <td colspan="4" class="scroll">{{education.edu_date}}</td>
        </tr>
        <tr>
          <td colspan="4" class="scroll">{{education.title}}</td>
        </tr>
        <tr>
          <td colspan="4" class="scroll">{{education.description}}</td>
        </tr>
        {% endfor %}
        <tr>
          <th scope="row"><h2>Experiences:</h2> </th>
        </tr>
        {%for experience in exp.all %}
        <tr>
          <td colspan="4" class="scroll">{{experience.title}}</td>
        </tr>
        <tr>
          <td colspan="4" class="scroll">{{experience.description}}</td>
        </tr>
        {% endfor %}
        <tr>
          <th scope="row"><h2>Skills:</h2> </th>
        </tr>
        {%for skill in skills.all %}
        <tr>
          <td colspan="4" class="scroll">{{skill.skill}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="create_cv"><button class="btn edit btn-primary btn-lg">Edit your CV</button></a>
    <a href="../"><button type="button" class="btn btn-primary btn-lg" style="float:right"> Back</button></a>
  </main>
  <hr>
  <div>
    <h4 class="text-center footer">© EasyApply 2021</h4>
  </div>
</body>
</html>