<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/fontAwesome.css">
  <link rel="stylesheet" href="css/hero-slider.css">
  <link rel="stylesheet" href="css/templatemo-main.css">
  <link rel="stylesheet" href="css/owl-carousel.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/templatemo-main.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/hero-slider.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/showjob.css' %}"> 

  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
  <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
  <script src="{% static 'js/vendor/npm.js.js' %}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Show Job</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between fixed-top">
    <a href="/"><img src="{% static 'img/logo.png' %}" alt="My logo" height="50px" style="border-radius:50%"></a>
    <a href="/logout/">Logout</a>
  </nav>
    <!-- <ul>
        <li><a href="/"><img border="0" alt="mylogo" src="{% static 'img/logo.png' %}" width="150" height="70">
            </a></li>
        <!-- <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li> -->
        <!-- <li style="float:right"><a href="#" class="btn btn-lg btn-primary" style="float: right; height: 70px;"><span class="glyphicon glyphicon-log-out"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg></span> Signout</a></a></li>
      </ul> --> 
      <br>
    <form class="form-compact" action="">
        <div class="row paddingBottom20">
            <div class="container col-4">
                <div class="row">
                    <h1 class="text-center col-12 mb-0">{{job.title}}</h1>
                    <sub class="text-right text-muted col-12"><a href="#" tabindex="-1"><i class="far fa-edit"></i></a></sub>
                </div>
                <div class="dropdown-divider mb-3"></div>
                <div class="form-group row">
                    <div class="form-floating">
                        <h3 for="floatingTextarea2">Job Description:</h3>
                        <p>{{job.description}}</p>
                        
                      </div>
                </div> 
                <div class="form-group row align-items-center">
                    <label for="deadline"> Deadline:  </label>
                    <p>{{job.deadline_date}}</p>
                </div>
                <div class="last">
                    <br><br><br><br>
      
      <button type="button" class="btn btn-primary btn-lg">Apply for this job</button>
      <a href="../"><button type="button" class="btn btn-primary btn-lg" style="float:right"> Back</button></a>
      <br><br><br><hr style="color: white;">
      


                </div>
            </div>
        </div>
        
    </form>
    
    <div class="footer">
      <footer class="footer">
        <p>© EasyApply 2021</p>
      </footer>
      </div>
    
</body>
</html>